
/* 
цвет заголовков 212121
цвет текста 757575
цвет лого 000000
цвет акцента 2196F3
цвет белого FFFFFF
основной фон F5F5F5 
вторичній фон AFB1B8 
цвет кнопок без єффекта F5F4FA*/

:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --logo-studio-color: #000000;
  --primary-bgc: #F5F5F5;
  --secondary-bgc: #AFB1B8;
  --hero-color: #ffffff;
  --button-noeffect-color: #f5f4fa;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
}

body{
  font-family: "roboto";
}

.list{
  list-style: none;
}
/* navigation  */
.nav, .site-auth{
  font-weight: 500;
font-size: 14px;
line-height: 1,172;
}

.site-nav .logo-web, .site-nav .logo-studio{
  font-family: "raleway";
}


.logo-web{
  color: var(--accent-color);
}

.logo-studio{
  color: var(--logo-studio-color);
}

a, .footer a, .link{
  text-decoration: none;
}

.site-nav-link{
  color: var(--title-text-color);
}

.site-nav-link.current{
  color:var(--accent-color);
}
.site-auth-link{
  color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-auth-link:hover,
.site-auth-link:focus{
  color: var(--accent-color);
}


/* hero */
.button{
  font-family: "roboto";
  font-weight: 500;
  color: var(--title-text-color);
  background-color: var(--button-noeffect-color);
 padding: 10px;
}
.button:hover, .button:focus{
  background-color: var(--accent-color);
  color: var(--hero-color);
}


.button.hero{
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-weight: 700;
}

/* section */

.section-title{
  font-family: "roboto";
  font-weight: 700;
}

.section-pluses-title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1,172;
  letter-spacing: 0.03em;
  text-align: left;
}

.section-pluses-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 1,714;
  letter-spacing: 0.03em;
  text-align: left;
}

.section-wedo{
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1,172;
  letter-spacing: 0.03em;
  text-align: center;
}
.section-command{
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1,172;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-command-title{
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1,172;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-command-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1,172;
  letter-spacing: 0.03em;
  text-align: center;
}

/* PORTFOLIO */

.section-works-title{
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.section-works-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 1,875;
  letter-spacing: 0.03em;
  text-align: left;
}

/* footer */

.footer-list-contact.list{
  color:var(--hero-color);
}