
/* 
цвет заголовков 212121
цвет текста 757575
цвет лого 000000
цвет акцента 2196F3
цвет белого FFFFFF
основной фон F5F5F5 
вторичній фон AFB1B8 
цвет кнопок без єффекта F5F4FA*/

:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --logo-studio-color: #000000;
  --primary-bgc: #F5F5F5;
  --secondary-bgc: #AFB1B8;
  --hero-color: #ffffff;
  --button-noeffect-color: #f5f4fa;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
}

body{
  font-family: "roboto";
}

.site-nav .logo-web, .site-nav .logo-studio{
  font-family: "raleway";
}

/* navigation  */
.logo-web{
  color: var(--accent-color);
}

.logo-studio{
  color: var(--logo-studio-color);
}

.list{
  list-style: none;
}

a, .footer a, .link{
  text-decoration: none;
}

.site-nav-link{
  color: var(--title-text-color);
}

.site-nav-link.current{
  color:var(--accent-color);
}
.site-auth-link{
  color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-auth-link:hover,
.site-auth-link:focus{
  color: var(--accent-color);
}



/* hero */
.button{
  font-family: "roboto";
  font-weight: 500;
  color: var(--title-text-color);
  background-color: var(--button-noeffect-color);
 padding: 10px;
}
.button:hover, .button:focus{
  background-color: var(--accent-color);
  color: var(--hero-color);
}


.button.hero{
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-weight: 700;
}

/* section */

.section-title{
  font-family: "roboto";
  font-weight: 700;
  color: var(--title-text-color);
}

.section-title.command{
  font-weight: 500;
}

/* footer */

.footer-list-contact.list{
  color:var(--hero-color);
}